@font-face {
  font-family: "Biennale Regular";
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/biennale-regular.otf') format('opentype');
}
@font-face {
  font-family: "Biennale Bold";
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/biennale-bold.otf') format('opentype');
}

@font-face {
  font-family: "Biennale Light";
  font-style: normal;
  font-weight: lighter;
  src: url('/assets/fonts/biennale-light.otf') format('opentype');
}
