$primaryColor: #5E49ff;
$secundaryColor: #A38dfc;
$greyColor: #7c7786;
$lightGreyColor: #f0f5ff;
$darkGreyColor: #575757;
$erroColor: #ff7563;
$fonteRegular: "Biennale Regular";
$fonteBold: "Biennale Bold";
$fonteLight: "Biennale Light";
$breakpointDeskTop: 992px;

